<template>
  <div class="q-pa-md">
    <div class="text-center">
      <q-toggle v-model="readonly" label="Read-Only" />
      <q-toggle v-model="disable" label="Disabled" />
    </div>
    <q-card class="q-pa-md" style="max-width: 800px; margin: 30px auto;">
      <ahoy-form
        v-model="formData"
        :fields="fields"
        :submit-handler="handleSubmitForm"
        :disable="disable"
        :readonly="readonly"
        design="outlined"
        />
      </q-card>
  </div>
</template>

<script>
import AhoyForm from '../'
import fields from './test-form-schema'

export default {
  components: {
    AhoyForm
  },

  data: () => ({
    fields,
    readonly: false,
    disable: false,
    formData: {
      about: 'Lalala',
      location: 'Portugal',
      gender: 'male',
      color: '#06E902'
    }
  }),

  methods: {
    async handleSubmitForm (values) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          // alert(`Submitted form:\n ${JSON.stringify(values)}`)
          this.readonly = true
          this.$q.notify({ message: 'Saved the thing' })
          resolve()
        }, 1000)
      })
    }
  }
}
</script>

<style>
.ahoy-form-field.ahoy-form--field--reputation,
.ahoy-form-field.ahoy-form--field--kudos_given {
  width: 40% !important;
  display: inline;
}
</style>
