<template>
  <section class="ahoy-form-group" :class="horizontal ? 'is-horizontal' : ''">
    <template v-for="(field, idx) in fields">
      <ahoy-form-group
        v-if="isArray(field)"
        :key="`i-${idx}`"
        :fields="field"
        :design="design"
        v-model="cValue"
        :disable="disable"
        :readonly="readonly"
        :errors="errors"
        :horizontal="horizontal"
        />

      <div v-else
        :key="`e-${idx}`"
        :class="[
          'ahoy-form-field',
          `ahoy-form--field--${field.name}`
        ]">
        <form-field
          v-model="internalValue[field.name]"
          v-bind="field"
          :design="design"
          :disable="disable"
          :readonly="readonly"
          @update:modelValue="(value) => fieldInput({ id: field.name, value })"
          :error="errors?.[field.name]?.toString()"
        />
      </div>
    </template>
  </section>
</template>

<script>
import FormField from './AhoyFormField'

export default {
  name: 'AhoyFormGroup',
  emits: ['update:modelValue'],

  components: {
    FormField
  },

  props: {
    modelValue: {
      type: Object
    },

    disable: Boolean,
    readonly: Boolean,

    fields: {
      type: Array
    },

    design: {
      type: String
    },

    errors: {
      type: Object
    },

    horizontal: {
      type: Boolean,
      default: false
    }
  },

  created () {
    this.internalValue = { ...this.modelValue } || {}
  },

  data: () => ({
    internalValue: {}
  }),

  computed: {
    cValue: {
      get () { return this.modelValue },
      set (v) { this.$emit('update:modelValue', v) }
    }
  },

  methods: {
    isArray (what) {
      return what && what.constructor === Array
    },

    fieldInput ({ id, value }) {
      if (typeof value !== 'object') {
        this.internalValue[id] = value
        // this.$emit('update:modelValue', this.internalValue)
        this.$emit('update:modelValue', {
          ...this.modelValue,
          [id]: value
        })
      }
    }
  }
}
</script>

<style lang="scss">
.ahoy-form-group {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @media screen and (min-width: 700px) {
    &.is-horizontal {
      flex-direction: row;
      flex-grow: 1;
      input, select {
        //min-width: initial !important;
        //width: auto !important;
      }

      .ahoy-form-field {
        padding: 2px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          right: 0;
        }
      }
    }
  }

  .ahoy-form-group {
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;

    .ahoy-form-field {
      margin-right: 5px;
      width: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .ahoy-form-group {
      flex-direction: column;
      flex-grow: 1;
      margin-right: 5px;
      &:last-child { margin-right: 0 }
      .ahoy-form-field {
        width: 100%;
        margin-right: 0;
      }

      .ahoy-form-group {
        display: block;
      }
    }
  }
}
</style>
