<template>
  <div>
    <label v-if="externalLabel">{{ label }}</label>
    <div v-if="cType === 'q-option-group'">
      <component
        :is="cType"
        v-bind="cProps"
        v-model="cValue"
      />
      <!-- Cuz the q-option-group & q-form magic validation don't appear to work together -->
      <input v-if="cProps.required"
             style="display: none"
             type="text"
             v-model="cValue"
             required/>
    </div>
    <component v-else
               :is="cType"
               v-bind="cProps"
               v-model="cValue"
    >
<!--      <div v-if="slots && slots.length">
        <template
                  v-for="s in slots"
                  :key="s.name"
                  v-slot:[s.name]="scope"
                  >
          <component :is="s.type"
                     v-bind="{ ...scope.itemProps, scope, ...s.opts }"
                     v-on="scope.itemEvents"
          />
        </template>
      </div>-->
    </component>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export function MkTranslation (key, i18n) {
  if (i18n.te(key)) {
    return i18n.t(key)
  }

  return key.split('.').pop().split('_').map(pp => pp.charAt(0).toUpperCase() + pp.substr(1)).join(' ')
}

const fieldMap = {
  text: 'q-input',
  textarea: 'q-input',
  url: 'q-input',
  number: 'q-input',
  email: 'q-input',
  password: 'q-input',
  select: 'q-select',
  radio: 'q-option-group',
  boolean: 'q-checkbox',
  checkbox: 'q-checkbox'
}

export default defineComponent({
  emits: ['update:modelValue'],
  components: {
  },

  props: {
    modelValue: { },
    type: {
      type: String,
      required: true
    },
    label: {
      type: String
    },
    attributes: {
      type: Object,
      default: () => ({})
    },
    required: {
      type: Boolean,
      default: false
    },
    disable: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    options: {
      type: [Object, Array, Function],
      required: false
    },
    validate: {
      type: [Array]
    },
    design: {
      type: String,
      default: 'filled'
    },
    stackLabels: {
      type: Boolean,
      default: true
    },
    slots: {
      type: Array,
      default: () => []
    },
    error: {
      type: String,
      default: null
    }
  },

  data: () => ({
    rOptions: []
  }),

  mounted () {
    if (this.options && typeof this.options === 'function') {
      this.options(this.$api)
        .then(opts => {
          this.rOptions = opts
        })
        .catch(err => {
          console.error('Failed to load options', err)
        })
    }
  },

  computed: {
    cType () {
      return fieldMap[this.type] || this.type
    },

    cValue: {
      get () {
        return this.modelValue
      },
      set (v) {
        this.$emit('update:modelValue', v)
      }
    },

    externalLabel () {
      return !this.stackLabels || (['colorpicker', 'radio']).indexOf(this.type) !== -1
    },

    cOptions () {
      if (typeof this.options !== 'function') {
        return this.options
      }

      return this.rOptions
    },

    cProps () {
      const props = {
        stackLabel: this.stackLabels
      }

      if (this.design) {
        props[this.design] = true
      }
      if (this.readonly) {
        props.readonly = true
      }

      if (this.type === 'radio') {
        if (this.readonly || this.disable) {
          props.disable = true
          props.color = 'grey-10'
        }
      } else {
        if (!this.readonly && this.disable) {
          props.disable = true
        }
      }

      if (this.required) {
        props.required = true
      }
      if (this.stackLabels && this.label) {
        props.label = MkTranslation(this.label, this.$i18n)
      }
      if (this.validate) {
        props.rules = this.validate
        props.lazyRules = true
        props.hideBottomSpace = true
      }

      if (this.type === 'textarea') {
        props.type = 'textarea'
      } else {
        props.type = this.type
      }

      if (this.cOptions) {
        props.options = this.cOptions
      }

      if (this.type === 'select') {
        props.behavior = this.$q.platform.is.ios === true ? 'dialog' : 'menu'
        props.emitValue = true
        props.mapOptions = true
      }

      if (this.error) {
        props.errorMessage = this.error.toString()
        props.error = true
        props.bottomSlots = true
      }

      return { ...this.attributes, ...props }
    }
  }
})
</script>

<style lang="scss">
.ahoy-form-field {
  padding: 5px 0;
  flex-grow: 1;
  flex-shrink: 1;

  // "Invisible" readonly fields
  .q-field--readonly {
    .q-field__control {
      background: transparent;
    }

    .q-field__control:before {
      display: none;
    }

    // .q-select {
    .q-field__append {
      display: none;
    }
  }
}
</style>
