<template>
  <q-form class="ahoy-form" @submit.prevent="onSubmit">
    <ahoy-form-group :disable="disable || submitting"
                     :readonly="readonly"
                     v-model="cValue"
                     :fields="fields"
                     :errors="errors"
                     :design="design"
                     :horizontal="horizontal" />

    <div v-if="captcha" class="flex flex-center q-pa-sm">
<!--      <pre style="margin: auto">-~[ CAPTCHA GOES HERE ]~-</pre>-->
      <img src="https://helpdeskgeek.com/wp-content/pictures/2020/01/captcha-robot-checkbox.gif"
      style="max-width: 90%"/>
    </div>

    <section class="ahoy-form--buttons" v-if="!readonly && cButtonSchema">
      <q-btn v-for="(button, idx) in cButtonSchema"
        :key="idx"
        v-bind="button"
        v-on="button.on ? button.on : {}"
        :disable="disable || button.disable"
        :label="button.label ? ($te(button.label) ? $t(button.label) : button.label) : ''"
        />
    </section>
  </q-form>
</template>

<script>
import { defineComponent, ref } from 'vue'
import AhoyFormGroup from './AhoyFormGroup'
export default defineComponent({
  name: 'AhoyForm',
  emits: [
    'update:modelValue',
    'update:syncing',
    'reset'
  ],
  components: {
    AhoyFormGroup
  },

  props: {
    disable: Boolean,
    readonly: Boolean,

    modelValue: {
      type: Object
    },

    fields: {
      type: Array
    },

    submitHandler: {
      type: Function
    },

    syncing: {
      type: Boolean,
      default: false
    },

    design: {
      type: String
    },

    buttons: {
      type: [Boolean, Array],
      default: true
    },

    buttonStyle: {
      type: String
    },

    resetButton: {
      type: Boolean,
      default: false
    },

    resetLabel: {
      type: String,
      default: 'Reset'
    },

    submitLabel: {
      type: String,
      default: 'Submit'
    },

    captcha: {
      type: Boolean,
      default: false
    },

    errors: {
      type: Object
    },

    horizontal: {
      type: Boolean,
      default: false
    }
  },

  setup: () => ({
    internalValue: ref({}),
    submitting: ref(false)
  }),

  created () {
    this.internalValue = this.modelValue
  },

  computed: {
    cValue: {
      get () {
        return this.modelValue
      },
      set (v) {
        this.$emit('update:modelValue', v)
      }
    },

    cButtonSchema () {
      if (this.buttons === false) { return }
      if (this.buttons && this.buttons.length) {
        return this.buttons
      }

      const buttons = []

      if (this.resetButton) {
        buttons.push({
          label: this.resetLabel,
          type: 'reset',
          disabled: this.submitting || this.disable,
          [this.buttonStyle]: true,
          on: {
            click: () => { this.$emit('reset') }
          }
        })
      }

      buttons.push({
        label: this.$te(this.submitLabel) ? this.$t(this.submitLabel) : this.submitLabel,
        loading: this.submitting,
        type: 'submit',
        color: 'primary',
        disabled: this.disable,
        [this.buttonStyle]: true
      })

      return buttons
    }
  },

  methods: {
    fieldInput (field, val) {
      this.$emit('update:modelValue', this.internalValue)
    },

    onSubmit () {
      if (!this.submitting && this.submitHandler) {
        this.submitting = true
        this.$emit('update:syncing', true)
        // eslint-disable-next-line
        this.submitHandler.call(this, this.modelValue) //JSON.parse(JSON.stringify(this.modelValue)))
          .catch(err => {
            console.error('Form submission failed', err)
          })
          .finally(() => {
            this.submitting = false
            this.$emit('update:syncing', false)
          })
      }
    }
  }
})
</script>

<style lang="scss">
.form-group {
  .col {
    margin-right: 15px;

    &:last-child { margin-right: 0 }
  }
}

.form-group-title {
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 10px;
}

label.q-field.q-field--outlined {
  margin-bottom:0;
  margin-top: 5px;
}

.ahoy-form--buttons {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
</style>
